<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/base :: head}"></head>
    <body>
        <!-- inclusion navbar -->
        <div th:replace="~{fragments/base :: header}"></div>
        <section class="hero is-full">
            <div class="hero-body">
                <!-- on gère la hauteur -->
                <div class="content is-large">
                    <!-- on gère la largeur -->
                    <div class="container is-max-widescreen">
                        <!-- Texte affiché sur la page -->
                        <h1>A propos</h1>
                        <p>
                            Pauges Janes est un projet de développement distribué JEE,
                            lancé en 2023 par des étudiants de l'école d'ingénieurs CY Tech Pau
                            (anciennement EISTI). Son objectif principal est de permettre
                            aux étudiants de partager leurs projets académiques, professionnels
                            et personnels à travers des portfolios et des projets qu'ils peuvent rendre accessibles
                            sur notre site web.
                        </p>
                        <p>Créateurs : ARRESSEGUET Yan - BRENOT Gabriel - LIOGER BUN Jérémi - RANSAN Lucas </p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>