<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Contact</title>
</head>
<body>
    <!-- inclusion navbar -->
    <div th:replace="fragments/header :: header"></div>
    <!-- gestion de la hauteur -->
    <section class="section">
        <div class="box column is-6 is-offset-3">
            <!-- Formulaire -->
            <form id="myForm" action="mailto:admin@pauges-janes.fr" enctype="text/plain" method="POST">

                <!-- Champs Nom/Prenom -->
                <div class="field">
                    <label class="label">Nom / Prenom</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="nomPrenom" class="input" type="text" placeholder="Comment vous appelez vous ?">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>

                <!-- Champs Email -->
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="email" class="input" type="email" placeholder="Inserez votre email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <!-- Champs Sujet -->
                <div class="field">
                    <label class="label">Sujet</label>
                    <div class="control">
                        <div class="select">
                            <select id="sujet" name="sujet">
                                <option>De quoi souhaitez vous nous parler ?</option>
                                <option>Compte utilisateur</option>
                                <option>Partenariats</option>
                                <option>Signaler un bug</option>
                                <option>Autres</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Champs Message -->
                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea id="message" class="textarea" placeholder="C'est à quel sujet ?"></textarea>
                    </div>
                </div>

                <!-- Bouton submit -->
                <div class="field is-grouped">
                    <div class="control">
                        <input type="submit" class="button is-link" value="Envoyer">
                    </div>
                </div>
            </form>

        </div>
    </section>

    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            // déclaration des variables qui sont récupérées du form
            var nomPrenom = document.getElementById('nomPrenom').value;
            var sujet = document.getElementById('sujet').value;
            var message = document.getElementById('message').value;
            // Adresse mail de base du destinataire (nous)
            var destinataire = "admin@pauges-janes.fr";
            // vérification que les champs sont tous rempli
            if (nomPrenom.trim() === '' || sujet === 'De quoi souhaitez vous nous parler ?' || message.trim() === '') {
                event.preventDefault();
                // message pour dire de bien compléter le form
                alert('Veuillez remplir tous les champs obligatoires. Merci.');
            } else {
                // préparation du lien mailto
                var objet = encodeURIComponent(sujet);
                var contenu = encodeURIComponent("Nom et Prenom du client : " + nomPrenom + "\n\nMessage : " + message);
                var lienMailto = "mailto:" + destinataire + "?subject=" + objet + "&body=" + contenu;

                window.location.href = lienMailto;
            }
        });
    </script>

</body>
</html>