<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/base :: head}"></head>
<body>
<!-- inclusion navbar -->
<div th:replace="~{fragments/base :: header}"></div>
<!-- gestion de la hauteur -->
<section class="section is-full">
    <h1 class="title has-text-centered">Mes projets favoris</h1>
    <div class="has-text-centered">
        <div th:replace="~{fragments/search :: projects}"></div>
    </div>
</section>
</body>
</html>
