<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pauges Janes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }


    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="section is-fullheight" >

   <!--/* <h1>test</h1>
    <span th:text="${a}"></span>
    <button class="button is-danger is-rounded is-large">ATNNTETNENTNETIOONNN</button>
    /*/-->
    <div th:replace="~{fragments/home :: div}"></div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>