<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Pauges Janes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
</head>
<body>
<header th:fragment="header">

    <!-- Barre de navigation -->
    <nav class="navbar is-black my-navbar-padding" role="navigation" aria-label="main navigation">

        <!-- Zone du logo et du menu "hamburger" pour les petits écrans -->
        <div class="navbar-brand">

            <!-- Lien vers la page d'accueil avec un logo -->
            <a class="navbar-item" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                <img alt="logo" th:src="@{/img/paugesjaneslogo.png}" width="30rem" height="50rem">
            </a>

            <!-- Menu "hamburger" pour les petits écrans -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <!-- Menu de navigation principal -->
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start is-size-4">

                <!-- Liens de navigation -->
                <a class="navbar-item " th:href="@{/}">
                    <button class="button is-medium is-white is-outlined">Accueil</button>
                </a>

                <!-- Bloc conditionnel basé sur l'authentification de l'utilisateur -->
                <div th:switch="${#authorization.expression('isAuthenticated')}">
                    <!-- Si l'utilisateur est authentifié -->
                    <div th:case="${true}" class="buttons">
                        <!-- Bouton Profil -->
                        <div class="navbar-item">
                            <a class="button is-medium is-white is-outlined" th:href="@{/user/{id}(id=${#authentication.name})}">
                                Profil
                            </a>
                        </div>
                        <!-- Bouton Favoris -->
                        <div class="navbar-item">
                            <a class="button is-medium is-white is-outlined">
                                Favoris
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-item">
                    <div class="button is-medium is-white is-outlined navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Rechercher
                        </a>
                        <div  class="navbar-dropdown">
                            <a th:href="@{/search/user}" class="navbar-item">
                                Profil
                            </a>
                            <a th:href="@{/search/project}" class="navbar-item">
                                Projet
                            </a>
                        </div>
                    </div>
                </div>

                <a class="navbar-item" th:href="@{/contact}">
                    <button class="button is-medium is-white is-outlined">Contact</button>
                </a>

                <a class="navbar-item" th:href="@{/a_propos}">
                    <button class="button is-medium is-white is-outlined">A propos</button>
                </a>

            </div>

            <!-- Zone connexion/inscription -->
            <div class="navbar-end">
                <div class="navbar-item">
                    <!-- Bloc conditionnel basé sur l'authentification de l'utilisateur -->
                    <div th:switch="${#authorization.expression('isAuthenticated')}">
                        <!-- Si l'utilisateur est authentifié -->
                        <div th:case="${true}" class="buttons">
                            <a class="navbar-item is-medium button yellow-button" th:href="@{/project/create}">
                                Nouveau projet
                            </a>
                            <!-- Bouton de déconnexion -->
                            <a class="navbar-item is-medium button is-outlined is-white" th:href="@{/logout}">
                                Déconnexion
                            </a>
                        </div>
                        <!-- Si l'utilisateur n'est pas authentifié -->
                        <div th:case="${false}" class="buttons">
                            <!-- Bouton d'inscription -->
                            <a class="navbar-item is-medium button yellow-button" th:href="@{/register}">
                                <strong>Inscription</strong>
                            </a>
                            <!-- Bouton de connexion -->
                            <a class="navbar-item is-medium button is-outlined is-white" th:href="@{/login}">
                            Connexion
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<footer th:fragment="footer" class="footer">
    <div class="content has-text-centered">
        <p>
            <strong><a th:href="@{/contact}">CONTACT</a></strong> | <strong><a th:href="@{/a_propos}">A PROPOS</a></strong>
        </p>
        <p>Copyrights © 2023 Pauges Janes, Tous droits réservés.</p>
    </div>
</footer>
</body>
</html>