<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header>
    <nav class="navbar c" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img alt="logo" src="https://www.pagesjaunes.fr/assets/images/logo_pagesjaunes-b41e5acdca.svg" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start is-size-4">
                <a class="navbar-item ">
                    Accueil
                </a>

                <a class="navbar-item">
                    Profil
                </a>

                <a class="navbar-item">
                    Favoris
                </a>

                <a class="navbar-item">
                    <!--/* Logo loupe /*/-->
                    Rechercher
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button yellow-button">
                            <strong>Inscription</strong>
                        </a>
                        <a class="button is-light">
                            Connection
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>