<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
</head>
<body>
<div th:fragment="homeCard" hx-target="this" hx-swap="outerHTML">
    <div th:unless="${portfolio}" class="notification is-danger">
        Pas de portfolio à afficher
    </div>
    <div th:if="${portfolio}" class="card">
        <div class="card-header">
            <p th:text="${portfolio.title}" class="card-header-title"></p>
        </div>

        <div class="card-image">
            <div class="box image is-16by9">
                <iframe th:src="${portfolio.link}" class="has-ratio"></iframe>
            </div>
        </div>

        <div class="card-footer">
            <a th:href="@{/project/{id}(id=${portfolio.id})}" class="card-footer-item">Voir le projet</a>
            <a th:hx-get="@{/getRandomPortfolio}" class="card-footer-item">Suivant</a>
        </div>
    </div>
</div>
</body>
</html>