<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="columns is-vcentered">
        <button class="button is-info is-size-1">
            <
        </button>
        <div class="column has-text-centered">
            <span class="icon">
                  <i class="fas fa-heart"></i>
            </span>
            <div>Profil</div>

            <div>
                <iframe
                        width="1500"
                        height="650"
                        src="https://palmes.dev/"></iframe>
            </div>
            <a th:href="@{https://palmes.dev/}"><button class="button is-warning">Voir le Portfolio</button></a>
        </div>
        <button class="button is-info is-size-1">
            >
        </button>
    </div>
</body>
</html>