<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="columns">
        <button class="column button is-info is-light">Profil precedent</button>
        <div class="column has-text-centered">
            <div>Profil</div>
            <div>
                <iframe
                        width="1500"
                        height="500"
                        src="https://palmes.dev/"></iframe>
            </div>
            <button class="button is-danger">Favoris</button>
        </div>
        <button class="column button is-info is-light">Profil suivant</button>
    </div>
</body>
</html>