<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>



<div>
    <div class="column">
        <div class="box is-rounded">
            <div class="columns">
                <div class="column is-one-fifth">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column">
                    <div class="name yellow-button">
                        <h2>Nom élève</h2>
                    </div>
                    <div class="description ">
                        <span>Description élève / projet</span>
                    </div>
                </div>
            </div>
            <div>
                <iframe
                        width="400"
                        height="150"

                        src="https://palmes.dev/"></iframe>

                <span class="icon has-text-danger">
                  <i class="fas fa-heart"></i>
                </span>

            </div>
        </div>

    </div>

</div>
</body>
</html>