<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="show" hx-target="this" hx-swap="outerHTML">
    <div class="level">
        <h1 th:text="${project.title}" class="title level-left"></h1>
        <div class="level-right buttons">
            <a th:href="${project.link}" class="button icon-text is-link">
                <span class="icon"><i class="fas fa-link"></i></span>
                <span>Voir le site</span>
            </a>
            <button th:hx-put="@{/project/{id}/favorite(id=${project.id})}" class="button icon-text is-dark">
                <span class="icon"><i class="fas fa-star"></i></span>
                <span>Ajouter le projet aux favoris</span>
            </button>
            <div th:if="${isAuthor}">
                <button th:hx-get="@{/project/{id}/edit(id=${project.id})}" class="button icon-text is-info">
                    <span class="icon"><i class="fas fa-edit"></i></span>
                    <span>Éditer le projet</span>
                </button>
                <button th:hx-delete="@{/project/{id}(id=${project.id})}" hx-confirm="Voulez-vous vraiment supprimer le projet ?" class="button icon-text is-warning">
                    <span class="icon"><i class="fas fa-trash"></i></span>
                    <span>Supprimer le projet</span>
                </button>
                <button th:hx-put="@{/project/{id}/quit(id=${project.id})}" hx-confirm="Voulez-vous vraiment quitter le projet ?" class="button icon-text is-danger">
                    <span class="icon"><i class="fas fa-ban"></i></span>
                    <span>Quitter le projet</span>
                </button>
            </div>
        </div>
    </div>
    <div class="block">
        <h1 class="title is-5">Auteurs</h1>
        <div class="buttons">
            <a class="button" th:each="author : ${project.authors}" th:text="${author.fullName}" th:href="@{/user/{id}(id=${author.username})}"></a>
        </div>
    </div>
    <div class="block">
        <h1 class="title is-5">Description</h1>
        <p th:text="${project.summary}"></p>
    </div>
    <div class="box image is-16by9">
        <iframe th:src="${project.link}" class="has-ratio"></iframe>
    </div>
</div>
<th:block th:fragment="fields">
    <div class="field">
        <label class="label">Titre</label>
        <div class="control">
            <input th:field="*{title}" th:value="*{title}" required th:errorclass="is-danger" class="input"/>
        </div>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="help is-danger"></p>
    </div>
    <div class="field">
        <label class="label">Lien</label>
        <div class="control">
            <input type="url" th:field="*{link}" th:value="*{link}" required th:errorclass="is-danger" class="input"/>
        </div>
        <p th:if="${#fields.hasErrors('link')}" th:errors="*{link}" class="help is-danger"></p>
    </div>
    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <input th:field="*{summary}" th:value="*{summary}" th:errorclass="is-danger" class="input"/>
        </div>
        <p th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="help is-danger"></p>
    </div>
</th:block>
<div th:fragment="create">
    <div th:each="error : ${#fields.errors('*')}" th:text="${error}" class="notification is-danger"></div>
    <form th:hx-post="@{/project/create}" th:object="${projectInfo}" hx-target="this" hx-swap="outerHTML">
        <div th:replace="~{:: fields}"></div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary">Créer</button>
            </div>
            <div class="control">
                <a class="button" th:href="@{/}">Annuler</a>
            </div>
        </div>
    </form>
</div>
<div th:fragment="edit">
    <div th:each="error : ${#fields.errors('*')}" th:text="${error}" class="notification is-danger"></div>
    <form th:hx-put="@{/project/{id}(id=${project.id})}" th:object="${projectInfo}" hx-target="this" hx-swap="outerHTML">
        <div th:replace="~{:: fields}"></div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary">Éditer</button>
            </div>
            <div class="control">
                <a class="button" th:href="@{/project/{id}(id=${project.id})}">Annuler</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>