@charset "utf-8";

$fa-font-path: "/webjars/fortawesome__fontawesome-free/webfonts";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";

/* footer */
$footer-background-color: #6e6e6e;
$footer-color: #ffffff;
$footer-padding: 40px;

/* a_propos */
$content-heading-color: white;

@import "bulma.sass";

.yellow-button {
  background-color: #FFEC00; /* Set the desired background color, e.g., a yellow color */
  color: #000; /* Set the text color for contrast */
}

.has-background {
  background-image: url("../img/fond_a_propos.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.has-text-white {
  color: white;
}
