@charset "utf-8";

$fa-font-path: "/webjars/fortawesome__fontawesome-free/webfonts";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";
@import "scss/regular.scss";

/* a_propos */


@import "bulma.sass";

.yellow-button {
  background-color: #FFEC00; /* Set the desired background color, e.g., a yellow color */
  color: #000; /* Set the text color for contrast */
}

/* navbar */
.my-navbar-padding {
  padding: 20px;
}

body{
  background-image: url('../img/fond.jpg');
}

button{
  transition: all 0.3s;
}